option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: app/webhttp/app.py:app  # 修改为你的实际 WSGI 路径
    NumProcesses: 3  # 进程数量可以根据实例大小调整
    NumThreads: 20   # 线程数量可以根据负载需求调整

packages:
  yum:
    gcc: []
    python3-devel: []  # 用于编译依赖
    libffi-devel: []  # cryptography 需要
    openssl-devel: []  # cryptography 需要


container_commands:
  01_install_requirements:
    command: "source /var/app/venv/*/bin/activate && pip install --upgrade pip && pip install -r requirements.txt"
    leader_only: true  # 避免在多实例部署时重复安装依赖

files:
  "/etc/nginx/conf.d/proxy.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      client_max_body_size 100M;  # 允许更大的请求体，特别是上传文件时
  "/etc/httpd/conf.d/wsgi_custom.conf":
    mode: "000644"
    owner: root
    group: root
    content: WSGIApplicationGroup %{GLOBAL}
